@{
    ViewBag.Title = "Index";
}

<div id="CreateCategoryForm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2>Create Category</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Name: </label>
                            <input class="form-control" type="text" name="Name" value="" />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>